.task-card {
  width: 250px;
  padding: 15px;
  margin: 20px auto;
  background: #8cc5e5;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  font-family: Arial, sans-serif;
  transition: transform 0.2s ease;
  display: inline-block;
  margin-top: 94px;
}

.task-card:hover {
  transform: translateY(-3px);
}

.task-actions {
  margin-top: 10px;
  display: none;
  gap: 10px;
}

.task-card:hover .task-actions {
  display: flex;
}

.task-actions button {
  flex: 1;
  padding: 6px 8px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  background-color: rgb(18, 173, 31);
}
.no-tasks {
  background: url('ss.jpg') center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* full viewport height */
  background-color: #f5f5f5; /* optional background */
 
}

.no-tasks img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

