<div class="task-wrapper">
  <div class="task-container">
    <form [formGroup]="taskForm" (ngSubmit)="onsubmit()" class="task-form">
      <h2>  {{ paramsID ? 'Edit your Task' : 'Add  Your Task' }}</h2>

      <input type="text" formControlName="name" placeholder="Enter your name..." />

      <!-- Email Field -->
      <input type="email" formControlName="email" placeholder="Enter your email..." />

      <input type="text" formControlName="task" placeholder="Enter your task..." />

      <mat-form-field appearance="fill">
        <mat-label>Date</mat-label>
        <input matInput [matDatepicker]="datepicker" formControlName="date">
        <mat-datepicker #datepicker></mat-datepicker>
        <mat-datepicker-toggle [for]="datepicker" matSuffix></mat-datepicker-toggle>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Time</mat-label>
        <input matInput type="time" formControlName="time">
      </mat-form-field>

  
      <button type="submit" [disabled]="taskForm.invalid">
    {{ paramsID ? 'Edit Task' : 'Add Task' }}
  </button>
    </form>
  </div>
</div>

